<h2>{name}</h2>
{description}
<h3>Attribute of...</h3>
<ul>
<li><a href="index.php?mode=list&amp;table=attr&amp;block_id=223&amp;version=">NiBoolData</a></li>
<li><a href="index.php?mode=list&amp;table=attr&amp;block_id=108&amp;version=">NiColorData</a></li>
<li><a href="index.php?mode=list&amp;table=attr&amp;block_id=111&amp;version=">NiFloatData</a></li>
<li><a href="index.php?mode=list&amp;table=attr&amp;block_id=124&amp;version=">NiKeyframeData</a></li>
<li><a href="index.php?mode=list&amp;table=attr&amp;block_id=136&amp;version=">NiPosData</a></li>

<li><a href="index.php?mode=list&amp;table=attr&amp;block_id=208&amp;version=">NiPSysEmitterCtlrData</a></li>
<li><a href="index.php?mode=list&amp;table=attr&amp;block_id=132&amp;version=">NiUVData</a></li>
</ul>
<h3>Attributes</h3>
<table>
<tr>
<th>Name</th>
<th>Type</th>
<th>Arg</th>
<th>Arr1</th>

<th>Arr2</th>
<th>Cond</th>
<th>Description</th>
<th>From</th><th>To</th>
</tr>
<tr class="reg0">
<td><i>Num Keys</i></td>
<td><a href="index.php?mode=list&amp;table=attr&amp;block_id=4&amp;version="><b>uint</b></a></td>
<td></td>
<td></td>

<td></td>
<td></td>
<td>Number of keys in the array.</td>
<td>Any</td><td>Any</td></tr>
<tr class="reg1">
<td><i>Interpolation</i></td>
<td><a href="index.php?mode=list&amp;table=attr&amp;block_id=378&amp;version="><b>KeyType</b></a></td>
<td></td>
<td></td>
<td></td>
<td><i>Num Keys</i> != 0</td>

<td>The key type.</td>
<td>Any</td><td>Any</td></tr>
<tr class="reg0">
<td><i>Keys</i></td>
<td><a href="index.php?mode=list&amp;table=attr&amp;block_id=273&amp;version="><b>Key</b></a></td>
<td><i>Interpolation</i></td>
<td><i>Num Keys</i></td>
<td></td>
<td></td>
<td>The keys.</td>

<td>Any</td><td>Any</td></tr>
</table>
</body>